body {
  background-color: black;
  color: white;
  font-size: 1.3vw;
}
img {
  height:100vh;
  border-right: .5vw solid white
}
.container {
  display: flex;
}
#inputs {
  align-self: center;
  text-align: right;
  padding: 2vmin;
  width: 20vmax;
}
#results {
  padding: 3vmin;
  align-self: center;
  display: none;
}

#elder-results {
  padding: 3vmin;
  align-self: center;
  display: none;
}

#bday-input {
  color: black;
}

#demographic {
  color: black;
}
